.CurrentMain {
    background-color: #1F4D91;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CurretnContainer {
    background-color: white;
    width: 37%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.CurretnContainer_item1 {
    /* border: 1px solid green; */
    height: 19%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CurretnContainer_item_in1 {
    /* border: 1px solid green; */
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
}

.CurretnContainer_item_in11 {
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.CurretnContainer_item_in12 {
    /* border: 1px solid red; */
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CAE1FC;
    color: #1F4D91;
    font-size: .9rem;
    font-weight: 600;
    border-radius: .3rem;
    padding: .05rem;
}
.CurretnContainer_item_in122 {
    /* border: 1px solid red; */
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBF0F0;
    color: #EB9895;
    font-size: .9rem;
    font-weight: 600;
    border-radius: .3rem;
    padding: .1rem;
}

.CurretnContainer_item_in13 {
    width: 20%;
}

.CurretnContainer_item_in2 {
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #1F4D91;
    font-weight: 550;
}

.CurretnContainer_item2 {
    /* border: 1px solid rgb(172, 115, 115); */
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

.CurretnContainer_item2_in1 {
    /* border: 1px solid red; */
    display: flex;
    justify-content: left;
    align-items: center;
}
.CurretnContainer_item2_in2 {
    /* border: 1px solid red; */
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: .9rem;
    color: #BABABA;
}

.CurretnContainer_item3 {
    /* border: 1px solid black; */
    width: 90%;
    font-size: 2rem;
    font-weight: 600;
}

.CurretnContainer_item4 {
    /* border: 1px solid rgb(170, 172, 115); */
    width: 90%;
    height: 19%;
}

.CurretnContainer_item4_button {
    width: 30%;
    height: 70%;
    border: 1.5px solid #1F4D91;
    border-radius: .2rem;
    background-color: white;
    color: #1F4D91;
    cursor: pointer;
}

.CurretnContainer_item5 {
    /* border: 1px solid rgb(135, 115, 172); */
    width: 90%;
    height: 10%;
    font-size: .9rem;
    background-color: #F6F6F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
}